
node_modules/
package-lock.json

.vscode/
.vscode-test/


out/
*.map

.vscode/
.vscode-test/

.DS_Store
Thumbs.db

.dart_tool/

npm-debug.log         
*.log                 
build/                
.flutter-plugins    
.env               
.idea/ 
