.vscode/**
.vscode-test/**
.git/**
out/**
src/**
node_modules/**
esbuild.js
webpack.config.js
vsc-extension-quickstart.md

.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs

**/*.map
**/*.ts

.dart_tool/**
analysis_options.yaml
example/**

!dist/extension.js
!dist/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!assets/**
